body {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    padding: 50px;
} 

header,
main, 
aside,
footer {
    background-color: #FFFFFF;
    margin: 20px;
    padding: 30px;
    border: 3px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.55);
}

.container {
    display: flex;
}

main {
    flex: 2 1 auto;
}

aside {
    flex: 1 1 auto;
}

header {
    min-height: 200px;
}

main,
aside {
    min-height: 500px;
}

footer {
    min-height: 150px;
}
