html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1290px;    
}

body {
    background-color: rgb(238, 238, 238);
}

header {
    border-bottom: 2px solid black;
}

.site-title {
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase; 
}

.page { 
    display: flex;
    flex-wrap: wrap;
}

.first-article img {
    background-color: rgb(255, 255, 255);
    float: right;
    border: 2px solid;
    padding: 10px;
    margin-left: 20px;
    box-shadow: 0px 0px 51px -4px rgba(0,0,0,0.25);
}

blockquote {
    border-left: 2px solid lightgrey;
    padding-left: 30px;
    float: right;
    width: 25%;
    font-family: Georgia, serif;
}

.author blockquote cite {
    display: block;
    text-align: right;
    padding-top: 40px;
}

.third-article img {
    background-color: rgb(255, 255, 255);
    float: left;
    border: 2px solid;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0px 0px 51px -4px rgba(0,0,0,0.25);
}

h1, h3 {
    font-family: Georgia, serif;
    font-size: 1em/1.2;
}

main {
    width: 65%;
    float: left;
}

aside {
    width: 28%;
    vertical-align: top;
    float: right;
    padding-left: 60px;
}

header {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #000;
    margin: 0;
}

nav {
    margin-top: 50px;
}

nav, li a {
    color: rgb(0, 153, 0);          
}

