html {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

section {
    display: flex;
    max-width: 70vw;
    justify-content: space-between;
    margin: 50px auto;    
    padding: 70px;
}

h2 {
    font-family: 'Georgia', serif;
    font-size: 1em;
    line-height: 1.2;    
}

article {
    padding: 35px;
}

