body {
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    display: flex; 
    height: 100vh;    
    justify-content: center;
    align-items: center;
}

section.container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

img {
    height: 400px;
    width: 120px;  
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);      
    overflow: hidden;
    margin: 10px;
    border-radius: 10px; 

}

img.bigger {
    border-left: 15px solid black;
    border-right: 15px solid black;
    flex-grow: 0.5;    
}