@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

.form-wrapper {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./image.jpg);
    justify-content: center;
    align-items: center;
    color: white;
    background-position: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.login-form {
    color: grey;
    width: 300px;
}

.login-form h2 {
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
}

.login-form div {
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 1px 0;
}

.login-form p {
    border-bottom: 1px solid #E9E9E9;
}

i {
    margin: 11px 31px;
}

input {
    border: none;
    font-size: 18px;
    outline: none;
}

button {
    background-color: #D41872;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 45px;
    margin-bottom: 16px;
    margin-left: 90px;
    cursor: pointer;
    outline: none;
}

